:root {
  /* Shared defaults */
  --stone-0: 0 0% 100%;
  --stone-25: 220 28% 98%;
  --stone-50: 220 19% 96%;
  --stone-75: 220 16% 94%;
  --stone-100: 220 14% 91%;
  --stone-200: 220 12% 85%;
  --stone-400: 221 10% 50%;
  --stone-500: 222 12% 42%;
  --stone-600: 223 14% 31%;
  --stone-700: 224 16% 24%;
  --stone-900: 226 24% 12%;
  --blue-100: 224 100% 96%;
  --blue-300: 230 90% 82%;
  --blue-500: 228 76% 60%;
  --blue-600: 235 70% 56%;
  --cyan-300: 191 91% 78%;
  --green-100: 133 71% 94%;
  --green-500: 147 61% 42%;
  --amber-100: 43 98% 90%;
  --amber-500: 33 95% 53%;
  --orange-100: 31 100% 92%;
  --orange-500: 27 96% 56%;
  --emerald-100: 153 60% 92%;
  --emerald-500: 154 62% 42%;
  --rose-100: 353 100% 95%;
  --rose-500: 349 85% 60%;
  --violet-100: 258 100% 96%;
  --violet-500: 257 81% 63%;
  --shadow-color: 225 38% 29%;
}

html.brand-synthcare {
  --stone-0: 0 0% 100%;
  --stone-25: 220 33% 98%;
  --stone-50: 220 20% 96%;
  --stone-100: 220 15% 92%;
  --stone-200: 220 12% 87%;
  --stone-400: 220 10% 52%;
  --stone-500: 222 12% 42%;
  --stone-700: 224 16% 24%;
  --stone-900: 228 25% 12%;
  --blue-100: 229 100% 96%;
  --blue-300: 230 90% 82%;
  --blue-500: 233 74% 61%;
  --blue-600: 235 70% 56%;
  --cyan-300: 191 91% 78%;
  --green-100: 133 71% 94%;
  --green-500: 147 61% 42%;
  --amber-100: 43 98% 90%;
  --amber-500: 33 95% 53%;
  --rose-100: 353 100% 95%;
  --rose-500: 349 84% 59%;
  --violet-100: 258 100% 96%;
  --violet-500: 257 81% 63%;
  --shadow-color: 225 38% 29%;
}

html.brand-purchase-order {
  --stone-0: 0 0% 100%;
  --stone-25: 220 20% 98%;
  --stone-50: 220 18% 96%;
  --stone-75: 220 16% 94%;
  --stone-100: 220 13% 90%;
  --stone-200: 220 12% 84%;
  --stone-400: 221 11% 48%;
  --stone-600: 223 14% 31%;
  --stone-900: 224 22% 12%;
  --emerald-100: 153 60% 92%;
  --emerald-500: 154 62% 42%;
  --orange-100: 31 100% 92%;
  --orange-500: 27 96% 56%;
  --blue-100: 220 100% 96%;
  --blue-500: 218 76% 60%;
  --rose-500: 349 85% 60%;
  --shadow-color: 224 34% 21%;
}
